<!--
  Generated template for the MyEventPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>我的事件</ion-title>
  </ion-navbar>
</ion-header>
<ion-content style="padding:5px">
    <ion-item *ngFor="let event of events" (click)="dealEvent(event)">
        <ion-thumbnail item-start>
          <img [src]="event.LatestResultPhoto||'assets/imgs/ic_launcher.png'">
        </ion-thumbnail>
        <h3>{{event.EventItemTypeName+"["}}{{event.PUserID+"]"}}</h3>
        <p *ngIf="event.LatestResultDetail" [innerHTML]="assembleHTML(event)"></p>
        <p style="float:left">{{event.LatestResultTime}}</p>
        <p style="float:right">{{event.Type}}</p>
    
      </ion-item>
      <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
          <ion-infinite-scroll-content  loadingSpinner="bubbles"
          loadingText="加载更多"></ion-infinite-scroll-content>
        </ion-infinite-scroll>
</ion-content>